@media screen and (max-width: 590px) {

    .menu {
        top: 130px;
        width: 330px;
        height: 25px;
        font-size: 12px;
    }

    .list {
        width: 395px;
        margin-top: -75px;
    }

    .check {
        width: 30px;
    }

    .products-list {
        width: 330px;
        height: 25px;
        font-size: 12px;
    }

    .price > input {
        margin-right: 2px;
        width: 65px;
        height: 20px;
    }

    .quantity {
        width: 35px;
        height: 20px;
        margin-right: 2px;

    }

    .delete {
        width: 30px;
        height: 25px;
    }
}