header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    /* opacity: 0.5; */
    font-size: 25px;
    height: 120px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(78, 127, 1);
}

.sum {
    background-color: #506FDC;
    border-radius: 15%;
}

@media screen and (max-width: 590px) {
    header {
        font-size: 13px;
        height: 80px;
    }
}